<ion-header>
  <ion-navbar>
    <ion-title>
      Sapo do Perrot
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  AHN AHN,
  The world is INJunior
  <p>
    {{latitude}} e {{longitude}}
  </p>
</ion-content>
